@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background: #6c85d7;
    color: #11052c;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0 30px;
}

.quiz-container {
    width: 50rem;
    background: #ffffff;
    border-radius: 4px;
    margin-top: 100px;
    padding: 30px 60px;
}

.quiz-container .active-question-no {
    font-size: 32px;
    font-weight: 500;
    color: #6c85d7;
}

.quiz-container .total-question {
    font-size: 16px;
    font-weight: 500;
    color: #e0dee3;
}

.quiz-container h1 {
    font-size: 24px;
    font-weight: 500;
    margin: 0;
}

.quiz-container ul {
    margin-top: 20px;
    margin-left: -40px;
}

.quiz-container ul li {
    background: #eaeaee;
    text-decoration: none;
    list-style: none;
    color: #2d264b;
    font-size: 16px;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    padding: 11px;
    margin-top: 15px;
    cursor: pointer;
}

.quiz-container ul .good-answer {
    background: #89e59a;
    border: 1px solid #800080;
}

.quiz-container ul .bad-answer {
    background: rgba(199, 8, 15, 0.61);
    border: 1px solid #800080;
}

.quiz-container button {
    background: #6c85d7;
    border-radius: 4px;
    font-size: 18px;
    color: #ffffff;
    padding: 10px 42px;
    outline: none;
    border: none;
    cursor: pointer;
}

.quiz-container .next-question {
    margin-top: 15px;
}

.quiz-container button:disabled {
    background: #e7e8e9;
    color: #9fa3a9;
    cursor: not-allowed;
}

.correct-answer p {
    font-size: 18px;
    text-align: center;
}

.flex-right {
    display: flex;
    justify-content: space-around;
}

.result {
    display: flex;
    flex-direction: column;
}

.result h3 {
    font-size: 24px;
    text-align: center;
}

.result p {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    margin: 12px 0;
}

.result p span {
    color: #800080;
    font-size: 22px;
}

.reset {
    margin: 0 auto;
}

@media only screen and (max-width: 600px) {
    .quiz-container {
        max-width: 340px;
    }

    .quiz-container .active-question-no {
        font-size: 24px;
    }

    .quiz-container h1 {
        font-size: 16px;
        font-weight: 400;
    }

    .quiz-container ul li {
        font-size: 12px;
    }

    .quiz-container button {
        font-size: 12px;
    }

    .correct-answer p {
        font-size: 12px;
    }

    .result h3 {
        font-size: 12px;
    }

    .result p {
        font-size: 16px;
    }
}
